<section class="reviews-container">
    <h2 class="text-center">REVIEW</h2>
    <button type="button" class="btn btn-primary btn-lg centered" data-toggle="modal" data-target="#giveReview">Оставить свой отзыв</button>
</section>

<div id="giveReview" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ваш отзыв</h4>
            </div>
            <form action="{% url 'review' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ review_form.as_div }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary centered">Отправить отзыв</button>
                </div>
            </form>
        </div>
    </div>
</div>