{% extends 'base_categories.html' %}

{% block page_content %}
<div class="container-fluid jumbotron-container">
    <section class="jumbotron">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <h1>Всё, что нужно вашему питомцу в 9 минутах от счастья</h1>
                <div class="row">
                    <div class="col-md-6"><p><b>Более 2000 товаров</b> для животных в наличии</p></div>
                    <div class="col-md-6"><p><b>Вкусные сюрпризы</b> для ваших питомцев в магазине</p></div>
                </div>
                <button type="button" class="btn btn-primary">Выбрать товар</button>
            </div>
            <div class="col-xs-6 col-sm-6">
                <p>There will be an image. Just imagine it.</p>
            </div>
        </div>
    </section>
</div>


{% endblock page_content %}
    