{% extends 'base_cat_map.html' %}

{% block above_categories %}
<div class="container-fluid jumbotron-container">
    <section class="jumbotron">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <h1>Всё, что нужно вашему питомцу в 9 минутах от счастья</h1>
                <div class="row">
                    <div class="col-md-6"><p><b>Более 2000 товаров</b> для животных в наличии</p></div>
                    <div class="col-md-6"><p><b>Вкусные сюрпризы</b> для ваших питомцев в магазине</p></div>
                </div>
                <button type="button" class="btn btn-primary">Выбрать товар</button>
            </div>
            <div class="col-xs-6 col-sm-6">
                <p>There will be an image. Just imagine it.</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}


{% block below_categories %}
    {% if news %}
        <section class="container-fluid flex-container">
            {% for single_news in news %}
                <article class="news-container">
                    {{ single_news.as_html }}
                </article>
            {% endfor %}
        </section>
    {% endif %}
    
    <div class="container">
        {% include 'reviews/reviews.html' %}
    </div>

    <div class="container-fluid bg-white">
        <div class="row">
            <article class="col-lg-7">
                <h2>Здравствуйте, счастливый хозяин любимого питомца!</h2>
                <p>Информация о крутом магазине</p>
            </article>
            <div class="col-lg-5">
                <div class="hide-lg">
                    <img src="http://territoriyazoo.by/django_media/photos_time/image_33.png" alt="Фотография магазина">
                </div>
            </div>
        </div>
    </div>
        
{% endblock below_categories %}
    
    