{% extends 'base.html' %}


{% block content %}

{% block above_categories %}
    
{% endblock %}

<div class="container-fluid flex-container">
    {% for category in categories %}
        <div class="container animal-type">
            <p>
                {{ category.thumbnail_preview }}
                {{ category.name }}
            </p>
        </div>
    {% endfor %}   
</div>


{% block below_categories %}
    
{% endblock below_categories %}


{% block map %}

{% endblock map %}


{% endblock %}
    